[Unit]
Description=Ilius Bundler
After=syslog.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

#point this to the directory where the project is located
Environment=WORKING_DIR=/home/shubhketanagarwal
#point this to the HOME directory
Environment=HOME_DIR=/home/shubhketanagarwal
Environment=SVCNAME=silius-service

Restart=always

ExecStart=/bin/bash -c '${WORKING_DIR}/silius/target/release/silius bundler --eth-client-address https://<address_of_the_eth_node> --mnemonic-file ${HOME_DIR}/.silius/0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266 --beneficiary 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266 --entry-points 0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789 --http --ws'

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/${SVCNAME}
ExecStartPre=/bin/chown syslog:adm /var/log/${SVCNAME}
ExecStartPre=/bin/chmod 755 /var/log/${SVCNAME}
ExecStartPre=/usr/bin/touch /var/log/${SVCNAME}/${SVCNAME}.log
ExecStartPre=/bin/chown syslog:adm /var/log/${SVCNAME}/${SVCNAME}.log
ExecStartPre=/bin/chmod 755 /var/log/${SVCNAME}/${SVCNAME}.log
StandardOutput=append:/var/log/silius/silius.log
StandardError=append:/var/log/silius/silius.log
# cannot do var expansion
SyslogIdentifier=silius

[Install]
WantedBy=multi-user.target